* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 43em;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color: #f8f8f2;
  background-color: #1b1d1e;
}

.left, .right {
  padding-bottom: 1em;
}

.left:before {
  content: '\2190\a0';
}

.left {
  float: left;
}

.right:after {
  content: '\a0\2192';
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.wrapper {
  min-height: 100%;
}

.main {
  padding-top: 2em;
  padding-bottom: 1.2em;
}

.posts {
  width: 42em;
}

.footer {
  position: relative;
  margin-top: -1.5em;
  height: 1.2em;
  clear: both;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li:first-child {
  padding: 0;
}

.footer li {
  display: inline;
  padding: 0 0.5em;
}

.layout {
  border-style: none;
  /* padding: 0 1em 0 0; */
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0.5em 0;
}

tt {
  font-family: 'Courier New', Courier, monospace;
  color: #f92672;
  border: 1px #75715e solid;
}

.content {
  width: 42em;
  padding: 0.5em 0;
}

p {
  hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  text-align: justify;
}

.date, .category {
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  color: #75715e;
  display: block;
}

.strike {
  text-decoration: line-through;
}

blockquote {
  padding: 0 0 0 1em;
  border-left: 8px #49483e solid;
}

ol, ul {
  padding: 0.5em 0 0.5em 1.5em;
  list-style-position: outside;
}

p, table {
  margin: 1em 0;
}

pre {
  font-family: 'Courier New', Courier, monospace;
  overflow: visible;
  margin: 0.5em 0;
  width: 41em;
}

table {
  border: 1px #f8f8f2 solid;
  border-collapse: collapse;
}

table td, table th {
  padding: 0 0.1em;
}

table.layout {
  margin: 0;
  border: 0px;
}

table.footnote:nth-of-type(1) {
  border-top: 1px #f8f8f2 solid;
  padding-top: 1em;
}

table.footnote {
  border: 0px;
  display: block;
  margin: 0.5em 0;
}

table.footnote td {
  padding: 0;
  padding-right: 0.5em;
}

table.layout td {
  vertical-align: top;
  padding: 0 0.5em 0 0;
}

table.layout td .key {
  color: #75715e;
  font-weight: bold;
}

hr {
  margin: 1em 0;
  border: 1px #49483e solid;
}

#reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}

a:link {
  color: #66d9ef;
}

a:visited {
  color: #f92672;
}
