{% extends "skeleton.tmpl" %}
{% set active_page = "about" %}
{% block title %}About{% endblock %}
{% block main %}
  <h2>About</h2>
  <div class="content">
    <p>
     To para­phrase <a href="http://eev.ee/blog/2012/04/09/php-a-fractal-of-bad-design/">a com­ment by eevee</a>, ev­ery good pro­gram­mer can not on­ly end­less­ly dis­cuss the ben­e­fits of their favourite pro­gram­ming lan­guage, but eas­i­ly bore you to death by elab­o­rat­ing up­on its wrong­do­ings, flaws and wart­s. Be­cause I'm an Emacs hack­er, I dis­cov­er the afore­men­tioned prob­lems on a reg­u­lar ba­sis, no mat­ter whether I'm ac­tive­ly writ­ing code or just read its sources to un­der­stand how this com­pli­cat­ed menagerie of tasks more or less re­lat­ed to text edit­ing works.
    </p>

    <p>
    As it would be too waste­ful to just put my fits of rage on ephemer­al me­dia like the <a href="http://www.emacswiki.org/emacs/EmacsChannel">#emacs IRC chan­nel</a>, I've de­cid­ed to share these high­lights with you on a blog in the form of en­tries that may very well fit in­to a sin­gle tweet or ap­proach the size of an es­say dis­sect­ing ex­is­ten­tial­ist wor­ries.  And don't wor­ry, these post are for en­ter­tain­ment and ed­u­ca­tion­al pur­pos­es.  I just like to rant ev­ery now and of­ten, that's all.
    </p>
  </div>
{% endblock %}
