{% extends "skeleton.tmpl" %}
{% set active_page = "colophon" %}
{% block title %}Colophon{% endblock %}
{% block main %}
  <h2>Colophon</h2>
  <div class="content">
    <p>
      <a href="https://github.com/wasamasa/microblog">This blog</a>
      is built with
      <a href="http://flask.pocoo.org/">Flask</a>,
      <a href="http://docutils.sourceforge.net/">Docutils</a> and
      <a href="https://www.python.org/">Python</a> by
      <a href="https://github.com/wasamasa">Vasilij Schneidermann</a>.
    </p>
  </div>
{% endblock %}
