{% extends "skeleton.tmpl" %}
{% set active_page = "imprint" %}
{% block title %}Imprint{% endblock %}
{% block main %}
  <h2>Imprint</h2>
  <div class="content">
    <table class="layout">
      <thead>
      </thead>
      <tbody>
        <tr>
          <td><span class="key">Name:</span></td>
          <td><span class="value">Vasilij Schneidermann</span></td>
        </tr>
        <tr>
          <td><span class="key">Address:</span></td>
          <td><span class="value">Rosmarstr. 7<br />50226 Frechen<br />Germany</span></td>
        </tr>
        <tr>
          <td><span class="key">Contact:</span></td>
          <td><span class="value"><span id="reverse">moc.liamg@nnamredienhcs.v</span></span></td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
