{% extends "skeleton.tmpl" %}
{% set active_page = "legal" %}
{% block title %}Legal{% endblock %}
{% block main %}
  <h2>Privacy Statement</h2>
  <div class="content">
    <p>
      No cook­ies, track­ing scripts or what­so­ev­er are used on this web­site. The on­ly da­ta saved about the us­er are the web­serv­er logs which con­tain the web­site re­quest­ed and as­so­ci­at­ed IP ad­dress.
    </p>

    <h2>Licensing</h2>
    <p>
      All blog posts which con­tain my per­son­al state­ments and opin­ions are li­censed by the <a href="https://creativecommons.org/licenses/by-nd/4.0/">Cre­ative Com­mons At­tri­bu­tion-N­oDeriva­tives 4.0 In­ter­na­tion­al (CC BY-ND 4.0) Li­cense</a> un­less oth­er­wise not­ed.
    </p>

    <p>
      All code snip­pets which are made by my­self are li­censed by the <a href="https://creativecommons.org/licenses/by-sa/4.0/">Cre­ative Com­mons At­tri­bu­tion-Share­Alike 4.0 In­ter­na­tion­al (CC BY-SA 4.0) Li­cense</a> un­less oth­er­wise not­ed.
    </p>
  </div>
{% endblock %}
