{% extends "skeleton.tmpl" %}
{% set active_page = "legal" %}
{% block title %}Legal{% endblock %}
{% block main %}
  <h2>Privacy Statement</h2>
  <div class="content">
    <p>
      No cookies, tracking scripts or whatsoever are used on this website. The only data saved about the user are the webserver logs which contain the website requested and associated IP address.
    </p>

    <h2>Licensing</h2>
    <p>
      All blog posts which contain my personal statements and opinions are licensed by the <a href="https://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International (CC BY-ND 4.0) License</a> unless otherwise noted.
    </p>

    <p>
      All code snippets which are made by myself are licensed by the <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) License</a> unless otherwise noted.
    </p>
  </div>
{% endblock %}
