{% extends "skeleton.tmpl" %}
{% set active_page = "index" %}
{% block title %}
  {% if page > 1 %}
    Page {{ page }}
    {% else %}
    Index
  {% endif %}
{% endblock %}
{% block main %}
  <div class="posts">
    {% for post in posts %}
      <div class="post">
        <h2><a href="/post/{{ post.slug }}">{{ post.title }}</a></h2>
        <span class="date">{{ post.date | approximate_datetime }}</span>
        <div class="content">{{ post.content }}</div>
      </div>
      <hr />
    {% endfor %}
    {% if old %}
      <span class="left"><a href="/posts/{{ page + 1 }}">Older</a></span>
    {% endif %}
    {% if new %}
      <span class="right"><a href="/posts/{{ page - 1 }}">Newer</a></span>
    {% endif %}
    {% if old or new %}
      <hr class="clear" />
    {% endif %}
  </div>
{% endblock %}
{% block footer %}
  <ul>
    <li>Index</li>
    <li><a href="/archive">Archive</a></li>
    <li><a href="/feed">Feed</a></li>
    <li><a href="/categories">Categories</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/colophon">Colophon</a></li>
    <li><a href="/imprint">Imprint</a></li>
    <li><a href="/legal">Legal</a></li>
  </ul>
{% endblock %}
